
/* HEADER */
/* BODY */
h1 { 
    font-family: Ostrich Sans;
    font-size: 2 em; /* Should we use this, or percentages? - AC*/ 
    color: 57068c; /*NYU Purple*/
}
p {
    font-family: helvetica, arial, san-serif;
    font-size: 1 em; /* em or percentages? - AC*/ 
    line-height:50%;
}
/* ABOUT US*/
.headshots {
    max-width:150 px;
    max-height:150 px;
}
#MemberName {
    font-family: helvetica, arial, san-serif;
    font-size: 1 em;
    font-weight: bold;
}
#MemberTitle {
    font-family: helvetica, arial, san-serif;
    font-size: .5 em;
}

/* FOOTER */
