
html{
    font-size:100%;
}
/* HEADER */
/* BODY */
body {
    background-color:#F9F8F2;
    padding:5%;
}/Users/ameliachu/Dropbox/NYUIRHC_2014/mainstyle.css
h1 { 
    font-family: Ostrich Sans;
    font-size: 200%; /* Should we use this, or percentages? - AC*/ 
    color: 57068c; /*NYU Purple*/
}
h2 {
    font-family: helvetica, arial, san-serif;
    font-size: 300%;
    color: 57068c;
}
h3 {
    font-family: helvetica, arial, san-serif;
    font-size: 200%;
    color: 57068c;
}
p {
    font-family: helvetica, arial, san-serif;
    font-size: 100%; /* em or percentages? - AC*/ 
    line-height:150%;
}
#short-descrip {
    margin-top:-2%;
    margin-bottom: 2%;
}

/* ABOUT US*/

#moreInfo{
    font-family: helvetica, arial, san-serif;
    font-size: 200%;
    text-align: center;
    color: 57068c;
    text-decoration: none;
    margin-top:-2%;
}
img.headshots {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#MemberName {
    font-family: helvetica, arial, san-serif;
    font-size: 150%;
    font-weight: bold;
    margin-bottom:-2%;
    text-align: center;
}
#ePosition {
    text-align: center;
}
#MemberTitle {
    font-family: helvetica, arial, san-serif;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    max-width:250 px;
}
#MemberAffiliation {
    font-family: helvetica, arial, san-serif;
    font-size: 100%;
    text-align: center;
    max-width:250 px;
}
/* BIOGRAPHIES*/
#BioName {
    font-family: helvetica, arial, san-serif;
    font-size: 150%;
    font-weight: bold;
    text-align:left;
    margin-top:0%;
    margin-bottom:-2%;
}
#BioTitle {
    font-family: helvetica, arial, san-serif;
    font-size: 100%;
    font-weight: bold;
    text-align:left;
}
#BioDescript {
    font-family: helvetica, arial, san-serif;
    font-size: 85%; /* em or percentages? - AC*/ 
    line-height:160%;
    text-align:left;
}
#BioBuddies{
    font-family: helvetica, arial, san-serif;
    font-size: 85%; /* em or percentages? - AC*/ 
    line-height:100%;
    text-align:left;
}
#BioHours{
    font-family: helvetica, arial, san-serif;
    font-size: 85%; /* em or percentages? - AC*/ 
    line-height:100%;
    text-align:left;
}
/*EVENTS*/

/* FOOTER */
