
html{
    font-size:100%;
}
/* HEADER */
/* BODY */
body {
    background-color:#F9F8F2;
    padding:5%;
}
h1 { 
    font-family: Ostrich Sans;
    font-size: 200%; /* Should we use this, or percentages? - AC*/ 
    color: 57068c; /*NYU Purple*/
}
h2 {
    font-family: helvetica, arial, san-serif;
    font-size: 300%;
    color: 57068c;
}
h3 {
    font-family: helvetica, arial, san-serif;
    font-size: 200%;
    color: 57068c;
}
p {
    font-family: helvetica, arial, san-serif;
    font-size: 100%; /* em or percentages? - AC*/ 
    line-height:100%;
}
/* ABOUT US*/
table {
    width:100%;
}
td {
    text-align:center;
    max-width:200 px;
    padding:2%;
}
#moreInfo{
    font-family: helvetica, arial, san-serif;
    font-size: 200%;
    color: 57068c;
    text-decoration: none;
}
#headshots {
    max-width:150 px;
    max-height:150 px;
}
#MemberName {
    font-family: helvetica, arial, san-serif;
    font-size: 150%;
    font-weight: bold;
    line-height:10%;
}
#MemberTitle {
    font-family: helvetica, arial, san-serif;
    font-size: 100%;
    font-weight: bold;
}
#MemberAffiliation {
    font-family: helvetica, arial, san-serif;
    font-size: 100%;
}

/* FOOTER */
