
html{
    font-size:100%;
}
/* HEADER */
/* BODY */
body {
    background-color:#F9F8F2;
    padding:5%;
}
h1 { 
    font-family: Ostrich Sans;
    font-size: 200%; /* Should we use this, or percentages? - AC*/ 
    color: 57068c; /*NYU Purple*/
}
h2 {
    font-family: helvetica, arial, san-serif;
    font-size: 300%;
    color: 57068c;
}
h3 {
    font-family: helvetica, arial, san-serif;
    font-size: 200%;
    color: 57068c;
}
p {
    font-family: helvetica, arial, san-serif;
    font-size: 100%; /* em or percentages? - AC*/ 
    line-height:100%;
}

/* ABOUT US*/

#moreInfo{
    font-family: helvetica, arial, san-serif;
    font-size: 200%;
    color: 57068c;
    text-align: center;
    text-decoration: none;
    margin-top:-2%;
}
img.headshots {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#MemberName {
    font-family: helvetica, arial, san-serif;
    font-size: 150%;
    font-weight: bold;
    margin-bottom:-2%;
    text-align: center;
}
#MemberTitle {
    font-family: helvetica, arial, san-serif;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    max-width:250 px;
}
#MemberAffiliation {
    font-family: helvetica, arial, san-serif;
    font-size: 100%;
    text-align: center;
    max-width:250 px;
}
/* BIOGRAPHIES*/
#BioText{
    padding:2%;
    margin-left:4%;
}

#BioName {
    font-family: helvetica, arial, san-serif;
    font-size: 150%;
    font-weight: bold;
    text-align:left;
}
#BioTitle {
    font-family: helvetica, arial, san-serif;
    font-size: 100%;
    font-weight: bold;
    text-align:left;
}
#BioDescript {
    font-family: helvetica, arial, san-serif;
    font-size: 75%; /* em or percentages? - AC*/ 
    line-height:150%;
    text-align:left;
}
#BioBuddies{
    font-family: helvetica, arial, san-serif;
    font-size: 100%; /* em or percentages? - AC*/ 
    line-height:100%;
    text-align:left;
}
#BioHours{
    font-family: helvetica, arial, san-serif;
    font-size: 100%; /* em or percentages? - AC*/ 
    line-height:100%;
    text-align:left;
}
/* FOOTER */
